@import "chartist/dist/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mockup-code pre:before {
    @apply hidden;
  }

  .mockup-code:before {
    @apply hidden;
  }

  .mockup-code pre {
    @apply pl-5;
  }
}

@layer utilities {
  .w-full-no-scrollbar {
    width: calc(100vw - (100vw - 100%));
  }
}
svg.ct-chart-bar,
svg.ct-chart-line {
  overflow: visible;
}
.ct-label.ct-label.ct-horizontal.ct-end {
  position: relative;
  justify-content: flex-end;
  text-align: right;
  transform-origin: 100% 0;
  transform: translate(-100%) rotate(-45deg);
  white-space: nowrap;
}
.ct-chart-bar {
  padding-left: 30px;
}
